version: "3.8"

services:
  frontend:
    build: frontend
    ports:
      - 5000:5000
  backend:
    build: backend
    environment:
      - MONGODB_CONNECTION_STRING="mongodb://database/sleep-tracker"
    ports:
      - 8080:8080
  database:
    image: mongo
    ports:
      - 37017:27017
